body {
    background-color: #f4e9cd;
}

@font-face {
    font-family: Spartan;
    src: url(fonts/LeagueSpartan-Regular.ttf);
}

@font-face {
    font-family: Matao;
    src: url(fonts/MATAO\ Free\ Demo\ .otf);
}


article {
    background-color: #77aca2;
    border-radius: 1.5em;
    padding: 1em;
    padding-bottom: 2em;
    margin: 1em;
    margin-bottom: 2em;
}

img {
    margin: auto;
    margin-right: 0.5em;
    height: 8em;
    object-fit: contain;
    display: block;
    width: 8em;
}

.zadendiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
}
.zadendiv p {
    width: 100%;
}

.logo {
    width: 10em;
    height: auto;
    margin: auto;
    padding: 0.5em;
}


header {
    background-color: #9dbebb;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
}

main {
    margin-top: 7em;
    margin-bottom: 7em;
}

h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

a {
    color: white;
    padding: 0.75em;
    background-color: #468189;
    border-radius: 1.5em;
    text-decoration: none;
    margin: 1em;
    box-shadow: 4px 4px #315a60;
    cursor: pointer;
}

.knoprecept {
    color: white;
    padding: 0.75em 1em;
    background-color: #468189;
    border-radius: 1.5em;
    text-decoration: none;
    margin: 1em;
    box-shadow: 4px 4px #315a60;
}

.bloemkooldiv {
    background-color: #77aca2;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    padding: 3em;
}

.bloemkool {
    margin: 0.5em;
    width: 18em;
    height: 15em;
    object-fit: cover;
}

.productomschrijving {
    width: 90vw;
    margin: 2em auto;
    text-align: center;
}

footer {
    background-color: #9dbebb;
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

nav {
    left: 0;
    bottom: 0;
    right: 0;
}

nav a {
    background-color: #9dbebb;
    box-shadow: none;
    padding: 0;

}

nav img {
    margin: auto;
    margin-right: 1em;
    height: 1.5em;
    width: auto;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}

li {
    font-family: spartan;
    line-height: 1.25em;
    font-size: larger;
    max-width: 18.75em;
}

h2 {
    text-align: center;
    font-family: matao;
}

.home img {
    width: 2em;
    height: auto;
    margin: 0;
}

.home {
    padding: 1em 3em;
    display: flex;
    margin: 1.5em;
    align-items: center;
    justify-content: space-around;
}

p {
    font-family: spartan;
    line-height: 1em;
    font-size: larger;
    width: 60%;
}

.homepagina {
    padding: 1em;
}

.recepten {
    display: flex;
}

.recepten img {
    width: 8em;
    height: auto;
    margin-right: 1em;
}

.recepten img:nth-child(2) {
    position: absolute;
    right: 11em;
    top: 17em;
}

#aubergine1 {
    position: absolute;
    right: 11em;
    top: 35em;
}

#aubergine2 {
    position: absolute;
    right: 11em;
    top: 53em;

}

.gekleurd {
    position: relative;
    right: 7em;
    width: 20em;
    height: auto;
    margin-bottom: 1.5em;
}

.specificaties {
    height: 3em;
    width: 3em;
}

.terug {
    background-color: #9dbebb;
    box-shadow: 0 0 #f4e9cd;
    color: black;
}

#jaargetijden {
    width: 22em;
    height: auto;
    margin: 1em 0em 2em;
}

.recepten p {
    padding-left: 0.5em;
    margin-bottom: 1.3em;
    width: 100%;
}

.zadenknop {
    margin: 5em;
}

.receptendiv h2 {
    text-align: left;
}

.specificatiesrow {
    display: flex;
    flex-direction: row;
}

.specificatiesdiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 12em;
    align-items: flex-start;
    align-content: space-around;
    margin-bottom: 3em;
}

.legenda img {
    width: 2em;
    height: auto;
    margin-right: 2em;
}

.legendarow {
    display: flex;
    flex-direction: row;
}

.legenda {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2em;
}

.bbdiv {
    background-color: #77aca2;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: flex-end;
    padding: 3em;
}

.bbdiv img {
    width: 10em;
    height: auto;
    margin: 0;
}

.bbdiv h1 {
    text-align: center;
    margin-top: 1em;
}

.bbdiv img:nth-child(1) {
    position: absolute;
    top: 10em;
    right: 9em;
}

.bbdiv img:nth-child(2) {
    position: absolute;
    top: 12em;
    right: 4em;
}

.receptinformatie {
    list-style: none;
}

.ruimte {
    margin-top: 2em;
}

.logoknop {
    background: none;
    box-shadow: none;
    margin: 0em;
    padding: 0em;
}

.homepagina p {
    width: 100%;
}

.zadenimg {
    width: 8em;
    height: 8em;
    margin-right: 1em;
}